<a href="https://colab.research.google.com/github/ShaimaaAlz/Assignment-3/blob/main/Lab1_BreakoutActivity_1_Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BREAKOUT 1:**
You are given three Pandas Series, series1, series2, & series3, with the following data.

import pandas as pd

series1 = pd.Series([10, 20, 30, 40, 50])

series2 = pd.Series([5, -10, 15, -20, 50])

series3 = pd.Series([12, 18, 27, 36, 42])


**Import appropriate libraries.**

**Perform the following tasks using Pandas**:

**Concatenation**: Concatenate series1 & series2 to create a new Series called "concatenated_series". # use the concat func

**Mean Calculation**: Calculate the mean value of series3. mean function to usre

**Replacing Negatives**: Replace all negative values in series2 with NaN. Store the modified Series in series2_modified.

series 2>=0

**Filtering Elements**: Create a new Series, filtered_series, that contains only the elements from series1 that are also present in series2.

f_s=series1.isin

**Top 3 Maximum Values**: Find the index labels of the top 3 maximum values in series3. Store these index labels in a list called top3_max_indices.

**Dataframe Creation**: Merge series1 & series2 into a single DataFrame with appropriate column names. Name the DataFrame merged_df.

merge function

For each task, write the code to accomplish it & print the output or result of each task.

In [ ]:


# Concatenation


series1 = pd.Series([10, 20, 30, 40, 50])

series2 = pd.Series([5, -10, 15, -20, 50])

series3 = pd.Series([12, 18, 27, 36, 42])

In [ ]:
#Mean Calculation

In [ ]:
#Replacing Negatives values in series 2

In [ ]:
#Filter Elements

In [ ]:
#Top 3 maximum values

In [ ]:
#Merge Series

*** Q- 2***
[This part of the notebook will be considered in the second breakout. If you finish breakout 1 early, you can start working on it during breakout 1]

In this problem, you need to perform several data analysis tasks using Pandas
Visit the UCI Machine Learning Repository's "[Online Retail Data Set](https://archive.ics.uci.edu/dataset/352/online+retail)" page:
Online Retail Data Set

On that page, you'll find a "**Data Folder**" section. Download the "Online Retail.xlsx" dataset file.

Once downloaded, you can load this dataset into a Pandas DataFrame using pandas.read_excel function.

**Task 1:** Describe the dataset and Display few rows of the datset.
##head
**Task 2**: Calculate the sales amount for each transaction by multiplying the "Quantity" by the "UnitPrice."

# qty*unit_price

**Task 3**: Group the data by "Country" and calculate the total sales for each country. Rename the column representing total sales to Total_Sales. and finally display the resulting data frame showing the "Country" & "Total_Sales".

use the groupby

**Task 4**: Calculate the total sales amount for each country by grouping the data based on "Country." Display the name of the country with the highest total sales and the corresponding total sales amount.

**Task 5**: Find & Display the month with the highest average sales


print

In [ ]:
#Upload and Read the excel file

In [ ]:
#Task 1: Describe the dataset and Display few rows of the datset.
# The dataset includes various columns, such as "InvoiceNo," "StockCode," "Description," "Quantity," "InvoiceDate," "UnitPrice," "CustomerID," and "Country."*
#Students may describe the type of data in their answer.

In [ ]:
#Task 2: Calculate the sales amount for each transaction by multiplying the "Quantity" by the "UnitPrice."

In [ ]:
#Task 3: Group the data by "Country" and calculate the total sales for each country. Rename the column representing total sales to Total_Sales. and finally display the resulting data frame showing the "Country" & "Total_Sales".

In [ ]:
#Task 4: Calculate the total sales amount for each country by grouping the data based on "Country." Display the name of the country with the highest total sales and the corresponding total sales amount.

In [ ]:
#Task 5: Find & Display the month with the highest average sales